---
import type { Product } from "@lib/interfaces/product";
import { type GetProductsParams, productService } from "@lib/service/productService";
import ProductCard from "@components/ProductCard.astro";
import { Colors } from "@utils/colors";

const params: GetProductsParams = {
  filtredbyCategory: "Nuevos",
};

const products: Product[] = await productService.getAll(params);
---

<section style={`background-color: ${Colors.white};`} class="py-12 pb-20">
  <h1 class="mb-6 text-center">Nuevos Productos</h1>
  <div class="max-w-6xl mx-auto px-4 pt-6">
    <div class="grid grid-cols-3 md:grid-cols-4 gap-6 justify-items-center max-w-full">
      {products.slice(0, 9).map((product) => (
        <ProductCard product={product} />
      ))}
    </div>
  </div>
</section>
