---
import type { Product } from "@lib/interfaces/product";
import { type GetProductsParams, productService } from "@lib/service/productService";
import { Colors } from "@utils/colors";
import ProductCard from "@components/ProductCard.astro"
import SnowEffect from "../SnowEffect";

const params: GetProductsParams = {
  filtredbyCategory: "Populares",
};

const products: Product[] = await productService.getAll(params);
---

<section style={`background-color: ${Colors.primaryBlush};`} class="py-12 pb-20">
  <h2 class="text-xl md:text-2xl font-bold mb-6 text-center">Productos Populares</h2>
  <div class="max-w-6xl mx-auto px-4 pt-6">
    <div class="grid grid-cols-2 mx-4 md:mx-8 md:grid-cols-3 lg:grid-cols-4 gap-3 md:gap-6 justify-items-center">
      {products.slice(0, 8).map((product) => (
        <ProductCard product={product} />
      ))}
    </div>
  </div>
</section>
