---
import type { Product } from "@lib/interfaces/product";
import { Image } from "astro:assets";

const { product } = Astro.props as { product: Product };
---
  <div
    class="overflow-hidden rounded-2xl bg-[#747877] transition-transform duration-300 group-hover:scale-[1.02] hover:shadow-lg hover:scale-[1.02]"
  >
    <div class="w-full aspect-3/2 overflow-hidden">
      <Image
        src={product.imgProduct}
        alt={product.nameProduct}
        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
        loading="lazy"
        width={600}
        height={400}
      />
    </div>
  </div>
