---
import Layout from "@layouts/Layout.astro";
import CatalogComponent from "@/components/catalog/CatalogComponent";
export const prerender = true;

---

<Layout>
<div>
  <h1 class="text-center pt-8 bg-(--primary-blush)">Catálogo de Productos</h1>
  <CatalogComponent client:load/>
</div>
</Layout>