---
import Layout from "@/layouts/Layout.astro";
---
<Layout>
  <form id="admin-login-form" class="flex flex-col gap-4 max-w-sm mx-auto mt-20 text-center min-h-[80vh] ">
    <h1 class="text-2xl font-bold mb-4">Bienvenido Administrador</h1>
    <p class="mb-4">Por favor, ingresa la contrase単a de administrador para continuar.</p>
    <input
      type="password"
      name="password"
      placeholder="Contrase単a de administrador"
      class="border p-2 rounded"
      required
    />
    <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded">
      Entrar
    </button>
    <p id="error-msg" class="text-red-600 mt-2 hidden">Contrase単a incorrecta</p>
  </form>

  <script type="module">

    const form = document.querySelector("#admin-login-form");
    const errorMsg = document.querySelector("#error-msg");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(form);

      const res = await fetch("/api/admin/login", {
        method: "POST",
        body: formData,
      });

      if (res.ok) {
        window.location.href = "/";
      } else {
        errorMsg.classList.remove("hidden");
        errorMsg.textContent = "Contrase単a incorrecta";
        setTimeout(() => {
          errorMsg.classList.add("hidden");
        }, 3000);
      }
    });
  </script>
</Layout>
