---
import Layout from "@layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import MyProductsComponent from "@/components/my-products/MyProductsComponent";
export const prerender = true;

---

<Layout>
<div class="mx-20 mt-5 mb-5">
  <h1 class="text-xl md:text-2xl font-bold mb-6 pt-8 text-center md:text-left">Mis Productos</h1>
  <MyProductsComponent client:load/>
</div>
<div class="mt-10">
  <Footer/>
</div>
</Layout>