---
import Layout from "@layouts/Layout.astro";
import MyProductsComponent from "@/components/my-products/MyProductsComponent";
export const prerender = true;

---

<Layout>
<div class="mx-10 lg:mx-20 mt-5 mb-15">
  <h1 class="mb-6 pt-8 text-center md:text-left">Mis Productos</h1>
  <MyProductsComponent client:load/>
</div>
</Layout>