---
import { Colors } from "@utils/colors"
---

<footer
  style={`background-color: ${Colors.primaryBlush};`}
  class="py-6 px-4 "
>
  <div class="max-w-screen-xl mx-auto text-center">
    <p class="font-serif text-[16px] text-black">
      © {new Date().getFullYear()} Liz Ruz. Todos los derechos reservados.
    </p>
    <p class="font-serif text-[14px] text-black mt-1">
      Hecho con 💖 por el equipo de desarrollo.
    </p>
  </div>
</footer>
