---
import { Image } from "astro:assets";
import { Colors } from "@utils/colors";
import CartBadge from "./CartBadge";
---

<div class="fixed z-50 w-full h-[12vh] flex items-center px-4" style={`background-color: ${Colors.primaryGreen}`}>
  <div class="flex-1 flex items-center gap-5">
    <a href="/my-products">
    <div class="flex flex-col justify-center items-center relative">
    <div class="relative">
      <CartBadge client:load />
    <Image
      src="/icons/supermarket.svg"
      alt="Catálogo"
      width={40}
      height={40}
    />
  </div>
    <p class="text-[14px] text-black">Mis Productos</p>
  </div>
  </a>
    <a href="/catalog">
    <div class="flex flex-col justify-center items-center">
    <Image
      src="/icons/beauty.svg"
      alt="Catálogo"
      width={40}
      height={40}
    />
    <p class="text-[14px] text-black">Catálogo</p>
  </div>
  </a>
</div>
  <a href="/">
  <div class="flex-1 flex justify-center items-center gap-3">
    <Image
      src="/icons/dragonfly.svg"
      alt="Logo"
      width={50}
      height={50}
    />
    <h3 class="text-[30px] font-semibold text-black">Liz Ruz</h3>
  </div>
  </a>

  <div class="flex-1 flex justify-end items-center">
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center items-center">
      <a href="https://facebook.com/Lizruz" target="_blank" class="block w-10 h-10">
        <Image
          src="/icons/facebook-logo.svg"
          alt="Facebook Icon"
          width={30}
          height={30}
        />
      </a>
      <a href="https://instagram.com/Lizruz" target="_blank" class="block w-10 h-10">
        <Image
          src="/icons/instagram-logo.svg"
          alt="Instagram Icon"
          width={30}
          height={30}
        />
      </a>
    </div>
    <p class="text-[14px] text-center text-black">Mis Redes Sociales</p>
  </div>
</div>

</div>

