---
import ProductsAdminTable from "@/components/admin/products/ProductsAdminTable";
import Layout from "@/layouts/Layout.astro";
import AppWrapper from "@/components/AppWrapper";
---

<Layout>
  <div class="mx-10 lg:mx-20 mt-5 mb-30">
    <h1 class="text-xl md:text-2xl font-bold mb-4 pt-8 text-center">
      Administrar Productos
    </h1>
    <AppWrapper client:only="react">
      <ProductsAdminTable client:load/>
    </AppWrapper>
  </div>
</Layout>
